<div class="container-fluid home">
    <div class="main">
        <!--Sign up form-->

    
        <!--Login form-->
        <div class="login">
            <form #loginform = "ngForm" (ngSubmit)="loginUser()">
                <label for="chk" aria-hidden="true">Login</label>
                <input class="username" type="text" name="username" id="userName" [(ngModel)]="admin.userName" placeholder="User name" required>
                <input class="password" type="password" name="password" id="password" [(ngModel)]="admin.password" placeholder="Password" required>
                <button type="submit">Login</button>         
            </form>
        </div>
    </div>
</div>    
    