<app-header></app-header>

<div class="container AddEmployeeForm">
    <div class="row">
        <div class="col-lg-12">
            <!--collapse buttons-->
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addEmployeeForm" aria-expanded="false" aria-controls="addEmployeeForm">Ajouter Employee</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#displayEmployee" aria-expanded="false" aria-controls="displayEmployee">Afficher Employee</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" id="addEmployeeForm">
            <!--Add employee-->
            
            <form>
                <div class="form-group">
                    <label class="mb-2" for="employeeName">Nom </label>
                    <input class="form-control mb-2" type="text" name="firstName" id="employeeName" placeholder="Votre nom">

                </div>
                <div class="form-group">
                    <label class="mb-2" for="employeeSecondName">Prenom </label>
                    <input class="form-control mb-2" type="text" name="secondName" id="employeeSecondName" placeholder="Votre prénom">
                </div>
                <div class="form-group">
                    <label class="mb-2" for="agence">Agence </label>
                    <select class="form-control mb-2" id="agence">
                        <option value="">Agence 1</option>
                        <option value="">Agence 2</option>
                        <option value="">Agence 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2" for="scanner">Scanner </label>
                    <select class="form-control mb-2" id="scanner">
                        <option value="">Scanner 1</option>
                        <option value="">Scanner 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2"  for="imprimante">Imprimante </label>
                    <select class="form-control mb-2" id="Imprimante">
                        <option value="">Imprimante 1</option>
                        <option value="">Imprimante 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2" for="clavier">Clavier </label>
                    <select class="form-control mb-2" id="clavier">
                        <option value="">clavier 1</option>
                        <option value="">clavier 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2" for="uniteCentrale">Unité centrale </label>
                    <select class="form-control mb-2" id="uniteCentrale">
                        <option value="">uniteCentrale 1</option>
                        <option value="">uniteCentrale 2</option>
                    </select>
                </div>
                <!--Buttons-->
                <button type="submit" class="btn btn-success mt-2 mb-2">Ajouter</button>
                <button type="reset" class="btn btn-secondary mt-2 mb-2">Annuler</button>
               
            </form>
        </div>
    </div>

    <!--display employeeeeee-->
    <div class="row">
        <div class="col-lg-12" id="displayEmployee">
             <!--employees tables-->
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Agence</th>
                    <th scope="col">Clavier</th>
                    <th scope="col">Scanner</th>
                    <th scope="col">Imprimante</th>
                    <th scope="col">Unité centrale</th>
                </tr>

            </thead>
        </table>        
        </div>
    </div>
</div>
