<div class="Fixednavbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="brand" href="#">
            <img class="navbar-img" src="/frontend-bankMaterielsManagement/src/assets/logoBiat.png" alt="">
        </a>

        <div class="items">
            <ul class="navbar-nav">
                <li class="navbar-item active">
                    <a href="#" class="nav-link">Agences</a>
                </li>

                <li class="navbar-item">
                    <a href="#" class="nav-link">Equipement informatique</a>
                </li>

                <li class="navbar-item">
                    <a href="#" class="nav-link">Employer</a>
                </li>
                
                <li class="navbar-item">
                    <a href="#" class="nav-link">Profil</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
