.navbar-wrapper{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 20;
}
.navbar {
    background: linear-gradient(to left, #f7941e, #8494bc, #0e2d72);
    
}
.navbar-nav li a{
    font-size: 18px;
    color: #0e2d72;
    font-family: serif;
    margin-left: 20px;
}

.navbar-nav li a:hover {
    background: red;
    border: groove;
    border-radius: 10px;
    
    border-width: 1px;
}

.navbar-nav {
    align-items: center;
}