
.container{
    margin-top: 10%;
}

.addEquipment {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.cards-list .row {
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: 180px;
    height: 180px;
}

#cardRow {
    justify-content: space-between;
    margin-left: 25%;
    margin-bottom: 05%;
}

.equipmentList{
    display: block;
    height: 40%;
}
