<app-header></app-header>

<!-- Add Equipment to the stock -->
<div class="container">

    <div class="row addEquipment">          
        <!--Add equipment-->
        <div class="col-lg-3 cards-list">
             <!--Souris-->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/unitecentrale.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Unité centrale</h5>
                        <p class="card-text">

                            <!--Add Quantity here-->
                            <span class="ref">Quantité : </span>
                        </p>
                        <button class="btn btn-success" id="addBtn">Ajouter</button> 
                     
                    </div>
                </div>
        </div>
        <div class="col-lg-3">    
            <!-- Scanner -->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/scanner.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Scanner</h5>
                        <p class="card-text">
                            <!--Add Quantity here-->
                            <span class="ref">Quantité :</span>
                        </p>
                        <button class="btn btn-primary btn-success" id="addBtn">Ajouter</button> 
                        
                    </div>
                </div>
        </div>
        <div class="col-lg-3">   
                <!-- Clavier-->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/clavier.jfif" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Clavier</h5>
                        <p class="card-text">
                            <!--Add Quantity here-->
                            <span class="ref">Quantité :</span>
                        </p>
                        <button class="btn btn-primary btn-success" id="addBtn">Ajouter</button> 
                        
                    </div>
                </div>
        </div> 
        <div class="col-lg-3">       
                <!--Imprimante-->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/imprimante.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Imprimante</h5>
                        <p class="card-text">
                            <!--Add Quantity here-->
                            <span class="ref">Quantité :</span>
                        </p>
                        <button type="button" class="btn btn-success" id="addBtn" data-toggle="modal" data-target="#addModal">Ajouter</button> 
                        
                    </div>
                </div>
        </div>
         
        
    </div>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ref</th>
                <th scope="col">type</th>
                <th scope="col">Modifier</th>
              </tr>
                
            </thead>
        </table>  
    </div>


    <div class="modal fade in" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalform">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >
                        Ajouter Equipement
                    </h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <!--Add equipment form-->
                    <form action="">
                            <label for="typeEquipment">Type Equipement</label>
                            <select name="typeEquipment" id="typeEquipment">
                                <option value="impimante">imprimante</option>
                                <option value="uniteCentrale">uniteCentrale</option>
                                <option value="clavier">uniteCentrale</option>
                                <option value="scanner">uniteCentrale</option>
                            </select>

                            <label for="quantite">Quantité</label>
                            <input type="number" step="1" name="quantite" id="quantite">

                            <label for="date">Date</label>
                            <input type="text" name="date" id="date">

                            <input type="submit"> 
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Ajouter</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>