<app-header></app-header>

<!-- Add Equipment to the stock -->
<div class="container">

    <div class="row addEquipment">          
        <!--Add equipment-->
        <div class="col-lg-3 cards-list">
             <!--Souris-->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/unitecentrale.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Unité centrale</h5>
                        <p class="card-text">

                            <!--Add Quantity here-->
                            <span class="ref">Quantité : </span>
                        </p>
                        <button class="btn btn-success" id="addBtn">Ajouter</button> 
                     
                    </div>
                </div>
        </div>
        <div class="col-lg-3">    
            <!-- Scanner -->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/scanner.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Scanner</h5>
                        <p class="card-text">
                            <!--Add Quantity here-->
                            <span class="ref">Quantité :</span>
                        </p>
                        <button class="btn btn-primary btn-success" id="addBtn">Ajouter</button> 
                        
                    </div>
                </div>
        </div>
        <div class="col-lg-3">   
                <!-- Clavier-->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/clavier.jfif" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Clavier</h5>
                        <p class="card-text">
                            <!--Add Quantity here-->
                            <span class="ref">Quantité :</span>
                        </p>
                        <button class="btn btn-primary btn-success" id="addBtn">Ajouter</button> 
                        
                    </div>
                </div>
        </div> 
        <div class="col-lg-3">       
                <!--Imprimante-->
                <div class="card" style="width: 14rem">
                    <img class="card-img-top mx-auto pt-2" src="../../assets/imprimante.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Imprimante</h5>
                        <p class="card-text">
                            <!--Add Quantity here-->
                            <span class="ref">Quantité :</span>
                        </p>
                        <button class="btn btn-primary btn-success" id="addBtn">Ajouter</button> 
                        
                    </div>
                </div>
        </div>
         
        
    </div>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ref</th>
                <th scope="col">type</th>
                <th scope="col">Modifier</th>
              </tr>
                
            </thead>
        </table>  
    </div>
</div>