
<app-header></app-header>
<div class="container">

    <!--Collapse button-->
    <div class="buttons">
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#add" aria-expanded="false" aria-controls="collapseExample">
           Ajouter Agence
        </button>
        
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#display" aria-expanded="false" aria-controls="collapseExample">
            Afficher Agence
         </button>
    </div>

    <!--Add agency div-->
    <div class="collapse" id="add">

        <!--Add agency form-->

        <form #AddAgence = "ngForm" (ngSubmit)="createAgence()">
            <div class="form-group mt-2">
                <label for="agencyName">Nom du l'agence :</label>
                <input type="text" class="form-control" name="name"  [(ngModel)]="agence.name" placeholder="Nom">
            </div>        

            <div class="form-group mt-2">
                <label for="agencyAddress">Address du l'agence :</label>
                <input type="text" class="form-control" name="adress" [(ngModel)]="agence.adress" placeholder="Address">
            </div>
            
            <div class="form-group mt-2">
                <label for="phoneNumber">Numéro telephonique :</label>
                <input type="text" class="form-control" name="telephone" [(ngModel)]="agence.telephone" placeholder="Numéro telephonique">
            </div>

            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </div>

        </form>

    </div>

    <!--display agency div-->
    <div class="collapse" id="display">

        <span class="title">Nos Agences </span>
        <!--agencies tables-->
        <table class="table mt-4">
            <thead>
                <tr >
                    <th scope="col">id_Agence</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Address</th>
                    <th scope="col">Telephone</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody >
                <tr *ngFor= "let agence of Agences">
                    <td>{{agence.idA}}</td>
                    <td>{{agence.name}}</td>
                    <td>{{agence.adress}}</td>
                    <td>{{agence.telephone}}</td>
                    <td><button class="btn btn-warning"  >Modifier</button></td>
                    <td><button  class="btn btn-danger" (click)=" deleteAgece(agence.idA)" >Supprimer</button></td>

                </tr>
        </tbody>
        </table>        
    </div>

</div>